<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140856709-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140856709-1');
    </script>

    <!-- Propeller -->
    <meta name="propeller" content="f5fa74615d57f624cbf14f178fe7a0c2">
    <title>Cryptonyst - Read Top News in the Crypto Industry, Interact and Get Rewards</title>
    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- Custom CSS-->
    <link rel="stylesheet" href="/stylesheets/app.css">
    <link href="https://fonts.googleapis.com/css?family=Spectral|Noto+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
    (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-7708204666443021",
        enable_page_level_ads: true
    });
    </script>
    <script src="//propu.sh/ntfc.php?p=2642239" data-cfasync="false" async>
    </script>
</head>
<body>
        <nav class="navbar">
            <div class="container">
                <ul class="flex">
                    <% if(!currentUser) { %>
                        <li><a href="/">Home</a></li>
                        <li><a href="/blogs">News</a></li>
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                        <!-- <li><a href="/about">About</a></li> -->
                    <% } else { %>
                        <!-- <li><a href="/">Home</a></li> -->
                        <li><a href="/blogs">News</a></li>
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/logout">Sign out</a></li>
                    <% } %>
                </ul>
            </div>
        </nav>
    
        <div class="container">
            <% if(success && success.length > 0) { %>
                <div class="alert alert-success" role="alert">
                    <%= success %>
                </div>
            <% } %>
            <% if(error && error.length > 0) { %>
                <div class="alert alert-danger" role="alert">
                    <%= error %>
                </div>
            <% } %>
        </div>
