
body {
    font-family: 'Work Sans', Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
}

#title__heading {
  font-size: 35px;
}

.form-width {
  width: 65%;
  margin: 60px auto;
}

.navbar {
    margin-bottom: 10px;
}

.navbar, .active_aside {
    background: rgb(51, 51, 51);
    color: #fff;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 20px 0;
  -ms-flex-align: center;
}

#pad {
  padding: 20px;
  font-size: inherit; 
}

.flex li {
  padding: 0 15px;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.flex li a {
  text-decoration: none;
  color: #fff;
}


.padding {
  margin: 30px 0;
}

.center {
  margin: 0 auto;
  width: 800px;
  max-width: 90%;
}

h3 a {
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  color: #333;
}

a:hover, 
a:active,
a:focus {
  color: #ff4e00;
}

#author {
  font-weight: 500;
  font-size: 10px;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}

#created {
  font-size: 10px;
}

.caption_none p {
  line-height: 28px;
  font-size: 18px;
  font-weight: 400;
}

#top2 {
  margin: 30px 0;
}

.thumb img {
  width: 100%;
  height: 50%;
}

.thumb .caption_none {
  padding: 15px;
}

.thumb, .comment p {
  letter-spacing: 1px;
}

.form_container {
  width: 75%;
  margin: 0 auto;
}

input {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
}

.form-width textarea {
  padding: 20px;
  font-family: 'Poppins', sans-serif;
}

.form-group {
  margin: 30px 0;
}

.form-width h3 {
  margin: 30px 0;
}

label {
  font-weight: 400;
  font-size: 14px;
}

.form-width button {
  padding: 15px 30px;
  border: 1px solid #333;
  background: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  border-radius: 8px;
  color: inherit;
}

.form-width button:hover {
  background: #333;
  color: #fff;
}

#delete-form {
  display: inline;
}

footer {
  margin: 100px 0 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

footer ul li {
  list-style: none;
  padding: 0;
}

footer ul li a {
  color: #333;
  margin: 0;
}

.info, .social {
  padding-left: 0; 
}

.info li a {
  text-decoration: underline;
}

.fab {
  font-size: 14px;
}

.pagination {
  margin-top: 2rem;
  text-align: center;
}

.pagination a {
  text-decoration: none;
  color: #ff4e00;
  padding: 0.5rem;
  border: 1px solid #ff4e00;
  margin: 0 1rem;
}

.pagination a:hover,
.pagination a:active,
.pagination a.active {
  background-color: #ff4e00;
  color: #fff;
}

@media (max-width: 768px) {
  .form_container {
    width: 95%;
    margin: 0 auto;
  }
}
